body * {
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.navbar {
    background-color: #ccc;
    width: 100%;
    padding: .2em .8em;
    border-radius: 0;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbar {
    width: 80%;
    border-color: black;
}

.post-container {
    margin: 30px;
    padding: 20px;
}
.post-title {
    font-weight: bold;
    font-size: 1.4em;
    padding-bottom: 10px;
}
.post-subtitle {
    font-style: italic;
    padding-bottom: 10px;
}
.post-content.ql-editor {
    min-height: initial;
    padding: 0;
}
.partial-hide {
    max-height: 150px;
    overflow-y: clip;
    position: relative;
}
.partial-hide:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, #ffffff00 75%, #ffffff);
}

.flash-message {
    background-color: #ffee9f;
    border-color: #00000000;
    padding: .8em;
    margin: .8em 0;
}

.bordered {
    border: 1px solid black;
    border-radius: 5px;
}
.float-right {
    float: right;
}
::-webkit-scrollbar {
    width: 11px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #888;
}

/* textbox toolbar styling */
button {
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    outline: none;
    color: white;
}
input {
    border: 1px solid #ccc;
    padding: 0.5em 0.5em 0.5em .75em;
}
.ql-editor {
    min-height: 30vh;
    font-size: 16px;
}
.material-icons {
    color: #444444;
    font-size: 18px;
}
.hidden {
    display: none !important;
}
.toolbar-container {
    position: relative;
    display: flex;
    justify-content: center;
}
.expand-button {
    position: absolute;
    top: 6px;
    right: 8px;
    color: #444;
}
.ql-formats {
    margin-right: 8px !important;
}
.ql-formats.collapsed {
    display: none !important;
}
.ql-formats:not(.leftmost)::before {
    content: '|';
    padding: 0 8px 0 0;
    color: #ccc;
    float: left;
}
.ql-picker-label.ql-active,
.ql-picker-label.ql-active * {
    color: #444 !important;
    stroke: #444 !important;
}

/* tooltips */
.tooltipped {
    position: relative;
    color: #444;
}
.tooltipped:hover::before, .tooltipped:focus::before {
    content: '';
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border: .5em solid transparent;
    border-top-color: black;
    z-index: 2;
    overflow: visible;
    font-size: .85em;
}
.tooltipped:hover::after, .tooltipped:focus::after {
    content: attr(title);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    text-align: center;
    background-color: black;
    color: white;
    padding: .3em;
    border-radius: .2em;
    z-index: 2;
    overflow: visible;
    font-size: .85em;
}
.ql-editor img {
    width: 40%;
}
